<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include 'components/style.html' %}

    <title>{{ title }}</title>
</head>
<body>


<div class="container">
    <header>
    {% include 'layout/navbar.html'%}
    </header>



    <main>
        {% block main %}
        {% endblock main %}
    </main>

    {% include 'layout/footer.html '%}

</div>


{% include 'components/scripts.html'%}

</body>
</html>