{% extends 'base.html' %}


{% block main %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token%}

        {% csrf_token %}

    {% for field in form %}
    <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field }}

        {% if field.errors %}
        {% for error in field.errors %}
        <div class="alert alert-danger" role="alert ">
            {{ error }}</div>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}


    <button style="color:green; ">
        {% if '/update/' in request.path %}
            Update
        {% else %}
           Save
        {% endif %}
    </button>
</form>

{% endblock main %}