{% extends 'base.html' %}
{% block main %}

<div class="row mt-5">

    <!-- CATEGORY -->
    <div class="col-md-3">
        <div class="list-group">
            {% for category in categories %}
                <a href="{% url 'car_by_category' category.pk %}" class="list-group-item list-group-item-action">
                    {{ category }}
                </a>
            {% endfor %}
        </div>
    </div>

    <!-- DETAIL -->
    <div class="col-md-9">

        <div class="card">

            {% if car.image %}
                <img src="{{ car.image.url }}" class="card-img-top" style="height:400px; object-fit:cover;">
            {% endif %}

            <div class="card-body">
                <h2>{{ car.name }}</h2>
                <p>{{ car.text }}</p>
                <small class="text-muted">{{ car.updated }}</small>
            </div>

        </div>

    </div>

</div>

{% endblock main %}